<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>To select a file to upload.</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>$(PRODUCT_NAME)</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>UILaunchStoryboardName</key>
        <string>Launch Screen</string>
        <key>UIMainStoryboardFile</key>
        <string>Main</string>
        <key>UIRequiredDeviceCapabilities</key>
        <array>
            <string>armv7</string>
        </array>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationPortraitUpsideDown</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <!-- cf bundle url types -->
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>com.amazon.MySampleApp</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>fb909215119206060</string>
                    <string>com.googleusercontent.apps.313050716839-mnovmf2e4d1i5g149finltko18es0nam</string>
                    <string>com.amazon.mysampleapp</string>
                </array>
            </dict>
        </array>
        <!-- facebook keys -->
        <key>FacebookAppID</key>
        <string>909215119206060</string>
        <key>FacebookDisplayName</key>
        <string>MySampleApp</string>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>fbapi</string>
            <string>fb-messenger-api</string>
            <string>fbauth2</string>
            <string>fbshareextension</string>
        </array>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSExceptionDomains</key>
            <dict>
                <key>amazonaws.com</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                    <key>NSThirdPartyExceptionMinimumTLSVersion</key>
                    <string>TLSv1.0</string>
                    <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                    <false/>
                </dict>
                <key>cloudfront.net</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                    <key>NSThirdPartyExceptionMinimumTLSVersion</key>
                    <string>TLSv1.0</string>
                    <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                    <false/>
                </dict>
                <key>akamaihd.net</key>
                <dict>
                    <key>NSExceptionRequiresForwardSecrecy</key>
                    <false/>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                </dict>
                <key>facebook.com</key>
                <dict>
                    <key>NSExceptionRequiresForwardSecrecy</key>
                    <false/>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                </dict>
                <key>fbcdn.net</key>
                <dict>
                    <key>NSExceptionRequiresForwardSecrecy</key>
                    <false/>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                </dict>
            </dict>
        </dict>
        <key>AWS</key>
        <dict>
            <key>IdentityManager</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>Google</key>
                    <dict>
                        <key>ClientId</key>
                        <string>313050716839-mnovmf2e4d1i5g149finltko18es0nam.apps.googleusercontent.com</string>
                    </dict>
                </dict>
            </dict>
            <key>CloudLogic</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>Region</key>
                    <string>us-east-1</string>
                </dict>
            </dict>
            <key>ContentManager</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>S3Bucket</key>
                    <string>mhcognito-contentdelivery-mobilehub-1247754423</string>
                    <key>Region</key>
                    <string>us-east-1</string>
                </dict>
            </dict>
            <key>MobileAnalytics</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>AppId</key>
                    <string>abd240b466b0417e9c1d017d65856265</string>
                    <key>Region</key>
                    <string>us-east-1</string>
                </dict>
            </dict>
            <key>DynamoDBObjectMapper</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>Region</key>
                    <string>us-east-1</string>
                </dict>
            </dict>
            <key>CredentialsProvider</key>
            <dict>
                <key>CognitoIdentity</key>
                <dict>
                    <key>Default</key>
                    <dict>
                        <key>PoolId</key>
                        <string>us-east-1:b3983e9e-1ea6-4d26-92f0-be132e70b190</string>
                        <key>Region</key>
                        <string>us-east-1</string>
                    </dict>
                </dict>
            </dict>
            <key>Cognito</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>Region</key>
                    <string>us-east-1</string>
                </dict>
            </dict>
            <key>MobileHub</key>
            <dict>
                <key>ProjectClientId</key>
                <string>MobileHub 971e95a5-acd2-4b0f-8e4f-6c5bad979718 aws-my-sample-app-ios-swift-v0.4</string>
            </dict>
            <key>UserFileManager</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>S3Bucket</key>
                    <string>mhcognito-userfiles-mobilehub-1247754423</string>
                    <key>Region</key>
                    <string>us-east-1</string>
                </dict>
            </dict>
        </dict>
    </dict>
</plist>
